.div{

background-color: #1761d8;
position: fixed;
width: 100%;
height: 50px;
top: 0px;

}



.div1{
	background-image: url(https://files.slack.com/files-pri/T3GQBS0ES-FCTL295N0/team.jpg);
	background-repeat:no-repeat;
	background-size: 500px;
	background-position: 100px;
    margin: 100px;
	top:500px;
	width: 600px;
	height: 600px;
	text-align: center;
	font-size: 20px;
}

.div2{
	position: absolute;
	right: 50px;
	top: 100px;
	width: 600px;
	text-align: center;
}

.div3{
	position: absolute;
	right: 50px;
	top: 200px;
	width: 600px;
	font-size: 30px;

}

.button{
	position: relative;
	left: 400px;
	background-color: red;
}

.button:hover{
	background-color: green;
}








